#projects {
	align-items: stretch;
	place-content: stretch;
}
.project {
	display: grid;
	margin: 20px;
	grid-template-columns: 1fr 2fr;
	align-items: center;
	
	@media (width < 604px) {
		grid-template-columns: 1fr;
		img {
			margin-bottom: 10px;
		}
	}
	
	h2 {
		margin: 0px;
	}
	img {
		border-radius: 5px;
		justify-self: center;
	}
	div {
		margin: 10px 20px;
		text-align: left;
	}
}