#projects {
	align-items: stretch;
	place-content: stretch;
}
.project {
	display: grid;
	margin: 0px var(--margin_m);
	grid-template-columns: 1fr 2fr;
	align-items: center;
	
	@media (width < 604px) {
		grid-template-columns: 1fr;
		img {
			margin-bottom: var(--margin_m);
		}
	}
	
	h2 {
		margin: 0px;
	}
	img {
		border-radius: 5px;
		justify-self: center;
	}
	div {
		margin: var(--margin_m) var(--margin_l);
		text-align: left;
	}
}
.project:not(:first-child) {
	margin-top: var(--margin_l);
}